body {
    margin: 200px auto auto auto;
    padding: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    background: #202124;
}
form {
    display: grid;
    grid-template-columns: auto;
}
h1 {
    color: white;
}
.input {
    display: flex;
    margin: 10px 300px 20px 300px;
    padding: 0 5px 0 5px;
    border: 1px solid #5f6368;
    border-radius: 24px;
    box-shadow: none;
    background: #202124;
    height: 44px; 
    width: auto;
    color: #e8eaed;
}
.submit {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    padding: 0 16px;
    margin: 12px 420px 0 420px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.submit:hover {
    border-color: #e8eaed;
}
svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}